@layout('master')

@section('sidebar')
@super
{{--  <p>ini adalah sidebar</p>  --}}
@endsection

@section('content')
@super
<h1>Belajar adonis di BWA</h1>
<p>Pelajari keahlian baru yang dibutuhkan oleh startup atau perusahaan IT terbesar di seluruh dunia</p>
@endsection